In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-24 01:51:15--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.124.8, 52.216.106.198, 52.217.142.128, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.124.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100%  260M=0s

2024-01-24 01:51:18 (260 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.to_sql(name = "zones", con=engine, if_exists='replace')

265