In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [9]:
df = spark.read \
    .options(header = "true", inferSchema = "true")\
    .csv("fhv_tripdata_2019-10.csv")

In [10]:
df.dtypes

[('dispatching_base_num', 'string'),
 ('pickup_datetime', 'timestamp'),
 ('dropOff_datetime', 'timestamp'),
 ('PUlocationID', 'int'),
 ('DOlocationID', 'int'),
 ('SR_Flag', 'string'),
 ('Affiliated_base_number', 'string')]

In [21]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02437|2019-10-04 08:31:17|2019-10-04 09:18:29|         264|         168|   null|                B02437|
|     B01124         |2019-10-02 14:03:24|2019-10-02 14:53:09|         260|         260|   null|       B01124         |
|              B02334|2019-10-03 17:45:00|2019-10-03 18:44:00|         264|         264|   null|                B02334|
|              B00608|2019-10-02 22:32:39|2019-10-02 22:34:23|         264|         264|   null|                B00608|
|              B03162|2019-10-01 13:37:59|2019-10-01 13:55:37|         189|         181|   null|                B03162|
|              B02534|2019-10-03 09:21:00|2019-10-03 09:38:00|         241|         265|   null|                B02534|
|              B03016|2019-10-02 18:50:24|2019-10-02 19:01:18|         264|          81|   null|                B03016|
|              B01534|2019-10-04 08:12:40|2019-10-04 08:26:05|         264|         264|   null|                B01534|
|              B03017|2019-10-01 09:15:44|2019-10-01 09:35:52|         265|          20|   null|                B03017|
|              B01087|2019-10-03 23:32:24|2019-10-04 00:24:59|         261|         265|   null|                B01087|
|              B01145|2019-10-03 17:12:37|2019-10-03 17:40:51|         264|         168|   null|                B02971|
|              B01145|2019-10-04 15:24:22|2019-10-04 15:39:54|         264|         243|   null|                B02884|
|              B01386|2019-10-02 18:05:00|2019-10-02 18:22:00|          36|         226|   null|                B01386|
|              B00310|2019-10-02 14:35:53|2019-10-02 15:04:52|         264|         159|   null|                B03047|
|              B01346|2019-10-01 09:04:00|2019-10-01 09:20:11|         264|         228|   null|                B01346|
|              B01079|2019-10-03 08:21:53|2019-10-03 08:22:00|         264|          14|   null|                B01079|
|              B00477|2019-10-01 21:01:36|2019-10-01 21:13:03|         229|         145|   null|                B00477|
|              B00345|2019-10-03 06:30:00|2019-10-03 07:10:00|         264|         264|   null|                B00345|
|              B01800|2019-10-04 06:30:00|2019-10-04 06:34:00|         264|         264|   null|                B01800|
|              B01239|2019-10-02 07:07:55|2019-10-02 07:17:49|         264|         259|   null|                B02876|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [13]:
df = df.repartition(6)

In [14]:
df.write.parquet('fhvhv/2019/10/')

In [26]:
df.createOrReplaceTempView('df_10_2019')

In [28]:
# How many taxi trips were there on the 15th of October?
spark.sql(
    """
        SELECT COUNT(*)
        FROM df_10_2019
        WHERE pickup_datetime >= "2019-10-15 00:00:00" and pickup_datetime < "2019-10-16 00:00:00"
        
    """
).show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [35]:
# What is the length of the longest trip in the dataset in hours?
spark.sql(
    """
    SELECT DATEDIFF(hour, pickup_datetime, dropOff_datetime) as A
    FROM df_10_2019
    ORDER BY A DESC
    """
).show()

+------+
|     A|
+------+
|631152|
|631152|
| 87672|
| 70128|
|  8794|
|  8784|
|  1464|
|  1056|
|  1056|
|   793|
|   793|
|   793|
|   792|
|   792|
|   792|
|   792|
|   792|
|   792|
|   792|
|   792|
+------+
only showing top 20 rows

In [36]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-09 19:53:19--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240309T125321Z&X-Amz-Expires=300&X-Amz-Signature=688ab5c84121c690ed4e87e893a29a13d04a2e9a5a09550780f46e6999a3da00&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-09 19:53:21--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240309T125321Z&X-Amz-Expires=300&X-Amz-Signature=688ab5c84121c690ed4e87e893a29a13d04a2e9a5a09550780f46e6999a3da00&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv'

     0K .......... ..                                         100%  224K=0.05s

2024-03-09 19:53:23 (224 KB/s) - 'taxi_zone_lookup.csv' saved [12322/12322]

In [38]:
df_zone = spark.read\
            .options(header = "true", inferSchema = "true")\
            .csv("taxi_zone_lookup.csv")

In [45]:
df_zone.dtypes

[('LocationID', 'int'),
 ('Borough', 'string'),
 ('Zone', 'string'),
 ('service_zone', 'string')]

In [39]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [40]:
df_zone.createOrReplaceTempView('df_zone')

In [47]:
df_join = df.join(df_zone, df.PUlocationID == df_zone.LocationID)

In [51]:
df_result = df_join['pickup_datetime','dropoff_datetime','PUlocationID','Zone']

In [52]:
df_result.createOrReplaceTempView('df_result')

In [53]:
# Least frequent pickup location zone
spark.sql(
    """
    SELECT ZONE, COUNT(*) as numb
    FROM df_result
    GROUP BY Zone
    ORDER BY numb ASC
    """
).show()

+--------------------+----+
|                ZONE|numb|
+--------------------+----+
|         Jamaica Bay|   1|
|Governor's Island...|   2|
| Green-Wood Cemetery|   5|
|       Broad Channel|   8|
|     Highbridge Park|  14|
|        Battery Park|  15|
|Saint Michaels Ce...|  23|
|Breezy Point/Fort...|  25|
|Marine Park/Floyd...|  26|
|        Astoria Park|  29|
|    Inwood Hill Park|  39|
|       Willets Point|  47|
|Forest Park/Highl...|  53|
|  Brooklyn Navy Yard|  57|
|        Crotona Park|  62|
|        Country Club|  77|
|     Freshkills Park|  89|
|       Prospect Park|  98|
|     Columbia Street| 105|
|  South Williamsburg| 110|
+--------------------+----+
only showing top 20 rows